<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {% block Title %}
            Магазин одежды
            {% endblock %}</title>
</head>
<body>
    <h1>Магазин всякой всячены</h1>
    <a href="/">Домой</a>
    <a href="/clothes/">Одежда</a>
    <a href="/shoes/">Обувь</a>
    <a href="/accessories/">Аксессуары</a><br>
<!--    <hr>-->

    {% block body_content %}
    <h3>Добро пожаловать в наш магазин</h3>
    {% endblock %}

    <hr>
    <h1>FOOTER</h1>
</body>
</html>